[flake8]
ignore = E203,E501,W503
per-file-ignores =
    # tests/*:S101
    src/wordle_solver/main.py:B008,DAR101
exclude =
    .git
    __pycache__
    .venv
    .eggs
    *.egg
    .cache
max-complexity = 8
max-line-length = 88
